.main{
    width: 1440px;
    height: 768px;
    // border: solid 2px;
    display: flex;
    
    justify-content: center;
    background-color: #f5f6fc;
}
.main2{
    width: 80%;
    height: 100%;
    // border: solid 2px;
    display: grid;
    grid-template-areas: "a1 a2 a3";
    margin-left: 200px;
}
.mainmain{
    width: 100%;
    height: 768px;
    display: flex;
    justify-content: center;
}