@media all and (max-width:480px){
   body{
    // margin: auto;
    margin-right: 160px;
   }
    .main2{

        grid-template-areas: "a1"
                               "a2"
                               "a3";
    }
}
.main2>div:nth-child(1){
    .main2{
        grid-area: a1;
    }
}
.main2>div:nth-child(2){
    .main2{
        grid-area: a2;
    }
}
.main2>div:nth-child(3){
    .main2{
        grid-area: a3;
    }
}